---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "关于我";
const identity = {
    firstName: "MrSouthWall",
    country: "中国•上海",
    occupation: "iOS 独立开发者",
    hobbies: ["Code", "Play", "Sleep"],
};

const skills = ["Swift", "SwiftUI", "Uikit"];
---

<BaseLayout pageTitle={pageTitle}>
    <p>我是 {identity.firstName} 南墙先生。</p>
    <p>我来自{identity.country}</p>
    <p>我是一名{identity.occupation}</p>
    <p>我的技能有：</p>
    <ul>{skills.map((skill) => <li class="skill">{skill}</li>)}</ul>
</BaseLayout>
